body {
	font-family: 'Open Sans', sans-serif;
}

.center {
	text-align: center;
}

/*1) Button*/

button {
	padding: 20px;
	max-height: 60px;
	background-color: rgb(107, 48, 90);
	font-family: 'Raleway', 'Verdana', 'Helvetica';
	opacity: 1;
}

button:hover {
	background-color: red;
	transition: all 0.5s;
	opacity: 0;
}

a#funButton:link {
	color: rgb(255, 255, 255);
	font-size: 1.25em;
	text-decoration: none;
}

a#funButton:visited {
	color: rgb(255, 255, 255);
	font-size: 1.25em;
	text-decoration: none;
}

/*2) Transform*/
div#redBox {
	display: inline-block;
	width: 100px;
	height: 300px;
	background: red;
	transition: all 3s ease 0.5s;
}

div#redBox:hover {
	width: 400px;
	transform: rotate(45deg) translate(300px, 50px);
	}


div#yellowBox {
	display: inline-block;
	width: 150px;
	height: 500px;
	background: yellow;
	transition: all 3s linear 0.5s;
}

div#yellowBox:hover {
	left: 100px ;
	width: 600px;
	transform: rotate(45deg) translate(300px, 50px);
	}

div#blueBox {
	display: inline-block;
	width: 200px;
	height: 600px;
	background: blue;
	transition: all 3s ease 0.5s;
	}

div#blueBox:hover {
	left: 100px ;
	width: 700px;
	transform: rotate(45deg) translate(300px, 50px);
	}

div#redBox1 {
	width: 100px; /*as wide as redBox level's div */
	/*position:absolute;*/ /*line 2 & 4 for stacking boxes*/
	display:inline-block;
	/*z-index: 2*/ /*line 2 & 4 for stacking boxes*/
}

div#yellowBox1 {
	width: 150px; /*as wide as yellowBox level's div */
	/*position:absolute;*/ /*line 2 & 4 for stacking boxes*/
	display:inline-block;
	/*z-index: 1;*/ /*line 2 & 4 for stacking boxes*/
}

div#blueBox1 {
	width: 200px;  /*as wide as blueBox level's div */
	/*position:absolute;*/
	display:inline-block;
}

div.displayBlock {
	display:block;
	height:800px;
}

/*3) Animation*/
@keyframes heart {
/*		0% {width: 150px;}
		50% {width: 300px;}
		100% {width: 150px;}*/
		0% {transform: rotate(0turn);}
		50% {transform: rotate(0.5turn);}
		100% {transform: rotate(1turn);}
}

#beatHeart {
	display: block;
	animation-name: heart;
	animation-delay: .5s; 
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

/*4) More Animation practice*/
div#grid {
	position: relative;
	display: block;
	background-color: grey;
	height: 500px;
	width: 100%;
}

div#cell {
	position: absolute;
	display: block;
	height: 50px;
	width: 95%;
	background-color:white;
	z-index: 1;
	margin: 10px;
}
